html, body{
    height: 100%;
    margin: 0;
}

body{
    background-image: url('../images/image1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.vertical-horizontal-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#suggestions-container {
  z-index: 1000; /* Ensure it's above other content */
  width: 100%; /* Match the width to the input field */
  top: 100%; /* Position it right below the input field */
  left: 0; /* Align it with the left edge of the parent */
  max-height: 300px; /* Limit the height of the suggestions box */
  overflow-y: auto; /* Add scroll to the suggestions box if it's too long */
}


@keyframes border-color-change {
    0% {
      border-color: #3498db; /* Blue */
    }
    25% {
      border-color: #e74c3c; /* Red */
    }
    50% {
      border-color: #f1c40f; /* Yellow */
    }
    75% {
      border-color: #2ecc71; /* Green */
    }
    100% {
      border-color: #3498db; /* Blue */
    }
  }
  
  .card {
    border: 5px solid #3498db; /* Initial border color */
    animation: border-color-change 4s linear infinite;
  }
  
  
  .colorschange {
    animation: colorCycle 10s infinite;
  }
  